  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Garage</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        
          
          <div *ngIf="getidUser()==null">
            <ul>
            <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/login']">login / inscription</a></li>
          </ul>
          </div>
          <div *ngIf="getroleUser()=='ROLE_CLIENT'">
            <ul>
            <li><a class="nav-link scrollto active" [routerLink]="['/acceuil']">Accueil</a></li>
	          <li><a class="nav-link scrollto" [routerLink]="['/DepotVoiture']">Dépot voiture</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/listesVehicules']">Véhicules validés</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/listesVehiculesDeposer']">Vehicules déposées</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/Historiques']">Historiques</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/recuperervoiture']">Recupérer voiture</a></li>
          </ul>
          </div>
          <div *ngIf="getroleUser()=='ROLE_RESPONSABLE_FINANCIER'">
            <ul>
            <li><a class="nav-link scrollto active" [routerLink]="['/acceuilfinancier']">Accueil</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/VehiculeReparationPayer']">Vehicules valider</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/envoyeMail']">Envoi e-mail</a></li>
            <li><a class="nav-link scrollto" [routerLink]="['/graphiqueTempsMoyen']">Temps moyen</a></li>
          </ul>
          </div>
          <div *ngIf="getroleUser()=='ROLE_RESPONSABLE_ATELIER'">
            <ul>
            <li><a class="nav-link scrollto active" [routerLink]="['/acceuilatelier']">Accueil</a></li>
            <li><a class="nav-link scrollto">Reception</a></li>
            <li><a class="nav-link scrollto"  [routerLink]="['/listesvehiculesterminee']"> listes vehicules terminée</a></li>
            <li><a class="nav-link scrollto"  [routerLink]="['/listesbondesortievalider']">vehicules Bondesortie validé</a></li>
  
          </ul>
          </div>
          <div *ngIf="getidUser()!=null">
            <ul>
            <li><a class="nav-link scrollto" [routerLink]="['/Garage']" (click)="deconnexion()">Déconnexion</a></li>
          </ul>
          </div>
         
          <!-- <li><a class="nav-link scrollto" >Sign up</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            <!-- </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
    
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <div *ngIf="getroleUser()==null">
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center img-fluid" style="background-image: url('assets/img/A.png'); background-repeat: no-repeat;background-position: end;background-size: cover;">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenue <span>dans notre site garage</span></h2>
          <p class="animate__animated fanimate__adeInUp">L'entretien de votre voiture devient simple et au juste prix ! retrouvez l'ensemble des interventions disponibles pour votre voiture, comparez vos devis en réparation.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Trouvez un garage automobile près de chez vous</h2>
          <p class="animate__animated animate__fadeInUp">notre site vous permet très simplement de rechercher et de comparer gratuitement les meilleurs garages automobiles au juste prix </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Guide de l'entretien </h2>
          <p class="animate__animated animate__fadeInUp">Notre site vous guide et répond à toutes les questions que vous vous posez dans le domaine de l'entretien de véhicule à moteur.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <!-- <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g> -->
    </svg>

  </section><!-- End Hero -->
</div>
  <div *ngIf="getroleUser()=='ROLE_CLIENT'">
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center" style="background-image: url('assets/img/A.png'); background-repeat: no-repeat;background-position: end;background-size: cover;">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenue <span>Client</span></h2>
          <p class="animate__animated animate__fadeInUp">Notre site vous guide et répond à toutes les questions que vous vous posez dans le domaine de l'entretien de véhicule à moteur.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
      </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Trouvez un garage automobile près de chez vous</h2>
          <p class="animate__animated animate__fadeInUp">notre site vous permet très simplement de rechercher et de comparer gratuitement les meilleurs garages automobiles au juste prix </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenue <span>dans notre site garage</span></h2>
          <p class="animate__animated fanimate__adeInUp">L'entretien de votre voiture devient simple et au juste prix ! retrouvez l'ensemble des interventions disponibles pour votre voiture, comparez vos devis en réparation.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <!-- <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g> -->
    </svg>

  </section><!-- End Hero -->
  </div>
  <div *ngIf="getroleUser()=='ROLE_RESPONSABLE_FINANCIER'">
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center" style="background-image: url('assets/img/A.png'); background-repeat: no-repeat;background-position:end;background-size: cover;">
      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
  
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Bienvenue <span>responsable financier</span></h2>
            <p class="animate__animated fanimate__adeInUp">L'entretien de votre voiture devient simple et au juste prix ! retrouvez l'ensemble des interventions disponibles pour votre voiture, comparez vos devis en réparation.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
          </div>
        </div>
  
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Trouvez un garage automobile près de chez vous</h2>
            <p class="animate__animated animate__fadeInUp">notre site vous permet très simplement de rechercher et de comparer gratuitement les meilleurs garages automobiles au juste prix </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
          </div>
        </div>
  
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown"> <span>dans notre site garage</span></h2>
            <p class="animate__animated fanimate__adeInUp">L'entretien de votre voiture devient simple et au juste prix ! retrouvez l'ensemble des interventions disponibles pour votre voiture, comparez vos devis en réparation.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
  
      </div>
  
      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <!-- <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g> -->
      </svg>
  
    </section><!-- End Hero -->
  </div>
  <div *ngIf="getroleUser()=='ROLE_RESPONSABLE_ATELIER'">
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center" style="background-image: url('assets/img/A.png'); background-repeat: no-repeat;background-position:end;background-size: cover;">
      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
  
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Bienvenue <span>responsable atelier</span></h2>
            <p class="animate__animated fanimate__adeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus d'informations</a>
          </div>
        </div>
  
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Trouvez un garage automobile près de chez vous</h2>
            <p class="animate__animated animate__fadeInUp">notre site vous permet très simplement de rechercher et de comparer gratuitement les meilleurs garages automobiles au juste prix </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
          </div>
        </div>
  
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown"> <span>dans notre site garage</span></h2>
            <p class="animate__animated fanimate__adeInUp">L'entretien de votre voiture devient simple et au juste prix ! retrouvez l'ensemble des interventions disponibles pour votre voiture, comparez vos devis en réparation.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">plus informations</a>
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>
  
      </div>
  
      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <!-- <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g> -->
      </svg>
  
    </section><!-- End Hero -->
  </div>
  
