<app-header></app-header>
    <section id="pricing" class="pricing">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2>Responsable atelier {{ this.nameAtelier}}</h2>
            <p>Listes reparations voiture</p>
          </div>
          <div cdkDropListGroup>
            <div class="example-container">
              <h2>A Reparer</h2>
              <div cdkDropList id="cdkDropList-0" [cdkDropListData]="ListesReparations" class="example-list" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of ListesReparations" cdkDrag>
                  <div  >
                    <div class="card" style="overflow: hidden;">
                      <img src="../assets/images/{{item.typeReparation.image}}" height="200px"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title" style="color:chocolate;font-weight:bold">{{item.typeReparation.nomTypeReparation}}</h5>
                        <h5 class="card-title" style="color:rgb(103, 74, 53);font-weight:bold">{{item.typeReparation.prixReparation}} €</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="example-container">
              <h2> En cours</h2>
              <div cdkDropList id="cdkDropList-1" [cdkDropListData]="ListesReparationEncours" class="example-list" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of ListesReparationEncours" cdkDrag>
                  <div class="card" style="overflow: hidden;">
                    <img src="../assets/images/{{item.typeReparation.image}}" height="200px"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="color:chocolate;font-weight:bold">{{item.typeReparation.nomTypeReparation}}</h5>
                      <h5 class="card-title" style="color:rgb(103, 74, 53);font-weight:bold">{{item.typeReparation.prixReparation}} €</h5>
                      <h6 style="color:rgb(31, 183, 225);font-weight:bold">dateHeureDebut: {{item.dateHeureDebut}} </h6><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="example-container">
              <h2 class="text"> Terminée  <button class="btn btn-warning" (click)="updateVehiculeTerminee()"> réparations finis
              </button><br> </h2>
              <div cdkDropList id="cdkDropList-2" [cdkDropListData]="ListesReparationTerminee" class="example-list" cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of ListesReparationTerminee" cdkDrag>
                  <div class="card" style="overflow: hidden;">
                    <img src="../assets/images/{{item.typeReparation.image}}" height="200px"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="color:chocolate;font-weight:bold">{{item.typeReparation.nomTypeReparation}}</h5>
                      <h5 class="card-title" style="color:rgb(103, 74, 53);font-weight:bold">{{item.typeReparation.prixReparation}} €</h5>
                      <h6 style="color:rgb(254, 117, 20);font-weight:bold">dateHeureFin: {{item.dateHeureFin}} </h6><br>
                      <h6 style="color:rgb(254, 117, 20);font-weight:bold">tempsReparation: {{item.tempsReparation}} </h6>
                    </div>
                  </div>
                </div>
              </div>   
            </div>
            <!-- <div *ngFor="let item2 of ReparationTerminee">
            <h6> INFOS REPARATION TERMINEE </h6>
            <p> vehicule : {{item2.vehicule.nom}}</p>
            <p> immatriculation : {{item2.vehicule.immatriculation}}</p>
            <p> date Heure Fin reparation : {{item2.vehicule.DateHeureFin}}</p>
            <p> total Temps Reparation  : {{item2.vehicule.totalTempsReparation}}</p>
            <p> total Prix Reparation  : {{item2.vehicule.totalPrixReparation}} € </p>
          </div> -->
          </div>
        </div>
    </section>      
<app-footer></app-footer>

