<app-header></app-header>
    <section id="pricing" class="pricing">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2> Client {{ this.Vehicule.utilisateurId}}</h2>
            <p>Listes des véhicules à récupérer</p>
          </div>
          <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor=" let ve of ListesVehicule | paginate: { itemsPerPage: 8, currentPage: pages,totalItems : totallength}">
              <div class="card" style="overflow: hidden;">
                <img [src]="ve.image" height="200px"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="color:chocolate;font-weight:bold">{{ve.nom}}</h5>
                  <p class="card-text" style="font-size:medium;font-weight: bold;">{{ve.type}} </p>
                  <p class="card-text" style="font-size:medium;font-weight: bold;">{{ve.immatriculation}} </p>
                  <p class="card-text" style="font-size:medium;font-weight: bold;">Fin réparation: {{ve.DateHeureFin}} </p>
                  <button class="btn btn-sucess" (click)="validerRecuperationVoiture()" type="submit">récupérer ma voiture
                 </button>
                </div>
              </div>
            </div>
            
        </div><br>
        <div fxLayoutAlign="center center" class="pagination">
          <pagination-controls (pageChange)="pages = $event"></pagination-controls>
         </div>
      </div>
      
      </div>
      </section>      
<app-footer></app-footer>


