<app-header></app-header>
    <section id="pricing" class="pricing">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2>Responsable Financier {{ this.nameFinancier}}</h2>
            <p>Listes des Vehicules non validation de paiement</p>
          </div>
          <div class="col-lg-12">
          <div class="row">
            <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor=" let vehiculerepare of VehiculeReparer | paginate: { itemsPerPage: 8, currentPage: pages,totalItems : totallength}"> -->
             <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor=" let vehiculeAttente of ListesPaiementAttente  | paginate: { itemsPerPage: 3, currentPage: pages,totalItems : totallength}">
              <div class="card" style="overflow: hidden;">
                <img [src]="vehiculeAttente.vehicule.image" height="200px"  class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title" style="color:chocolate;font-weight:bold">CLIENT : {{vehiculeAttente.vehicule.utilisateurId.nom}}</h5> -->
                  <h5 class="card-title" style="color:chocolate;font-weight:bold">{{vehiculeAttente.vehicule.nom}}</h5>
                  <p class="card-text" style="font-size:medium;font-weight: bold;">{{vehiculeAttente.vehicule.immatriculation}}</p>
                  <p class="card-text" style="font-size:medium;font-weight: bold;color:goldenrod">TOTAL PAYER : {{vehiculeAttente.vehicule.totalPrixReparation}} €</p>
                  <button class="btn btn-warning" routerLink="/ReparationsPayer/{{vehiculeAttente.vehicule._id}}">voir réparations
                 </button><br>
                 <button class="btn btn-sucess"  [disabled]="estPayer"  (click)="validerpaiement()" type="submit">valider paiement
                </button>
                </div>
              </div>
            </div>
            
        </div><br>
        <div fxLayoutAlign="center center" class="pagination">
          <pagination-controls (pageChange)="pages = $event"></pagination-controls>
         </div>
      </div>
      
      </div>
      </section>      
<app-footer></app-footer>

