.card{
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    margin-left: 2rem;
    margin-top: 3rem;
}
.card:hover{
    animation: hover 1s linear 1;
    /*transform: scale(1.05);*/
    /*transform: rotatey(180deg);*/
}
@keyframes hover{
    /*0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.05);
    }*/
    0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(360deg);
    }
}