<app-header></app-header>
<main id="main">
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out">
            <h2>Client</h2>
            <p>Dépot Voiture</p>
          </div>
            <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" style="margin-left: 200px">
              <form (ngSubmit)="boutonsaveDepot()" class="php-email-form">
                <div class="form-group mt-3">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nom: </label>
                    <input type="text" class="form-control" placeholder="Nom du voiture" required [(ngModel)]="Vehicule.nom" name="nom" style="margin-left: 140px;margin-top:-40px;">
                  </div>
                  <div class="form-group mt-3">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Type: </label>
                    <input type="text" class="form-control" placeholder="Type du voiture" required [(ngModel)]="Vehicule.type" name="type" style="margin-left: 140px;margin-top:-40px;">
                  </div>
                <div class="form-group mt-3">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Image: </label>
                  <input type="file" class="form-control" placeholder="Image" required [(ngModel)]="Vehicule.image" name="image" style="margin-left: 140px;margin-top:-40px;">
                </div>
                <div class="form-group mt-3">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Immatriculation: </label>
                    <input type="text" class="form-control" placeholder="Immatriculation" required [(ngModel)]="Vehicule.immatriculation" name="immatriculation" style="margin-left: 140px;margin-top:-40px;">
                </div>
                <!-- <div class="form-group mt-3">
                    <label for="staticEmail" class="col-sm-2 col-form-label">id: </label>
                    <input  type="text" value="{{ getData() }}" class="form-control" required [(ngModel)]="Vehicule.utilisateurId" name="utilisateurId" style="margin-left: 140px;margin-top:-40px;">
                </div> -->
                <div style="margin-left:900px;margin-top:10px;"><button type="submit">Valider</button></div>
              </form>
            </div>
            <div class="section-title" data-aos="zoom-in-left">
              <h2>Services</h2>
              <p> Vous souhaitez reparer quoi ? </p>
              <div class="form-group mt-3">
                <select  [(ngModel)]="nomVehicule"  name="nom" class="select">
                    <option *ngFor="let vehicule   of  Vehicules"  value="{{vehicule.id}}" >{{vehicule.nom}}</option>
                </select>
              </div>
              <h5>Cliquez sur l'icone sous forme reparation voiture  <img src="../assets/images/repare.png" width="30"> pour choisir les reparations que vous souhaitez faire . </h5>
              <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor=" let typeReparation of TypeReparation">
                  <div class="card" style="overflow: hidden;">
                    <img src="../assets/images/{{typeReparation.image}}" height="200px"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="color:chocolate;font-weight:bold">{{typeReparation.nomTypeReparation}}</h5>
                      <button mat-icon-button class="text-danger">
                        <img src="../assets/images/repare.png">
                     </button>
                      <p class="card-text" style="font-size:medium;font-weight: bold;">{{typeReparation.prixReparation}} € </p>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            
          </div>
  
        
      </section><!-- End Contact Section -->
<app-footer></app-footer>

