.example-full-width {
    width: 550px;
}
.but {
    margin-left: 35px;
}
.fileUploadInput {
    display: grid;
    grid-gap: 10px;
    position: relative;
    z-index: 1;
}
.fileUploadInput label {
    display: flex;
    align-items: center;
    color: setColor(primary, 0.5);
    background: setColor(white);
    transition: 0.4s ease;
    font-family: arial, sans-serif;
    font-size: 0.75em;
    font-weight: regular;
}
.fileUploadInput input {
    position: relative;
    z-index: 1;
    padding: 0 gap(m);
    width: 500px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: arial, sans-serif;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    font-weight: regular;
    margin-left:45px;
}
.fileUploadInput input[type="file"] {
    padding: 0 gap(m);
}
.fileUploadInput input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    margin-left: 5px;
    padding: 0;
    height: 50px;
    width: 0;
}
.fileUploadInput button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    line-height: 0;
    user-select: none;
    color: white;
    border-radius: 0 3px 3px 0;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
}
.fileUploadInput button svg {
    width: auto;
    height: 50%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0;
    background-repeat: no-repeat;
    appearance: none;
    border-radius: 0;
    vertical-align: middle;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    user-select: text;
    line-height: 1.333em;
}
@-moz-document url-prefix() {
    .fileUploadInput button {
        display: none;
   }
}
.card{
  width:600px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    margin-left: 35rem;
    margin-top: 3rem;
    transition: transform 0.5s;
    border-color: black 2px;
    border-radius:8px;
    background-color:#ffd6c22b;
  }
  .fournisseur{
    margin-left: 35px;
    width: 85%;
  }
  .mess{
    margin-left: 35px;
    margin-top:20px;
  }
  .bouton{
    margin-left: 25px;
  }
