<app-header></app-header>
<main id="main">
    <section id="pricing" class="pricing">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out">
            <h2>Client</h2>
            <p>Listes des Vehicules validés</p>
          </div>
            <div class="col-lg-11 mt-5 mt-lg-0"  style="margin-left: 150px">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Nom du voiture</th>
                        <th scope="col">Type</th>
                        <th scope="col">Immatriculation</th>
                        <th scope="col">Action</th>
                        <th scope="col">Facture</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor=" let vehicules of listeVehicule | paginate: { itemsPerPage: 3, currentPage: pages,totalItems : totallength} ">
                        
                        <th scope="row"><img [src]="vehicules.image" class="card-img-top" style="width:200px;height:200px" alt="..."></th>
                        <td style="color:#ef6603;font-weight:bold">{{vehicules.nom}}</td>
                        <td>{{vehicules.type}}</td>
                        <td>{{vehicules.immatriculation}}</td>
                        <td><button  class="btn btn-warning" routerLink="/Avancementreparation/{{vehicules._id}}" style="margin-top:10px;" type="submit">voir avancements réparations</button></td>
                        <td><button class="btn btn-sucess" routerLink="/Factureclient/{{vehicules._id}}"  type="submit">voir facture</button></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <div fxLayoutAlign="center center" class="pagination">
                    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
                   </div> 
            </div>
            
            
          </div>
          
        
      </section><!-- End Contact Section -->
      
<app-footer></app-footer>
