<app-header></app-header>
<section id="pricing" class="pricing">
    <div class="container">
      <div class="section-title" data-aos="zoom-out">
        <h2> Client</h2>
        <p>Listes des réparations du véhicule déposer</p>
      </div>


        <div class="col-lg-12">
            <table class="table table-hover table-striped table-responsive-lg" style=" box-shadow: 0 10px 10px rgba(0,0,0,.2);">
                <thead class="table-dark">
                  <tr>
                    <th scope="col" class="text-center">nom TypeReparation</th>
                    <th scope="col">image TypeReparation</th>
                    <th scope="col">description</th>
                    <th scope="col">prixReparation</th>
                    <th scope="col">Suppression</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let repart of AllReparation | paginate: { itemsPerPage: 3, currentPage: pages,totalItems : totallength}">
                    <td style="font-weight: bold; color: coral">{{repart.typeReparation.nomTypeReparation}}</td>
                    <td><img src="../assets/images/{{repart.typeReparation.image}}" class="card-img-top" style="width:150px;height:150px" alt="..."></td>
                    <td>{{repart.typeReparation.description}}</td>
                    <td style="font-weight: bold; color: coral;">{{repart.typeReparation.prixReparation}} €</td>
                    <td><button class="bouton"  (click)="openPopup(repart._id)"><img src="../assets/images/supr.png" width="50"></button></td>
                  </tr>
                </tbody>
              </table><br>
              <div fxLayoutAlign="center center" class="pagination">
                <pagination-controls (pageChange)="pages = $event"></pagination-controls>
               </div> 
        </div>
      </div>
  </section>
  <div style="margin-left:1200px;margin-top: -30px;">
    <h4 style="color:coral;font-weight: bold;">TOTAL A PAYER: <button class="btn btn-warning" [disabled]="estPayer" (click)="procederpaiement()">{{this.totalPrice}} €</button></h4>
  </div> 
  <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Confirmation <img src="../assets/images/danger.png" width="35"></h4>
      </div>
      <div class="modal-body">
        <td><p>Voulez vous vraiment effacer la reparation : {{OneReparation[0].typeReparation.nomTypeReparation}} </p></td>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
        (click)="confirme(OneReparation[0]._id)">
                         OUI
        </button>
        <button type="button" class="btn btn-warning" 
                (click)="closePopup()">
          FERMER
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
