.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #706551;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image:url('../../assets/images/v.png');
}
.container{
  display: flex;
  justify-content:center;
  align-items:center;
}

mat-card {
  width: 30%;
  margin: 5% auto;
  border-radius: 8px;
  background-color:gray;
  box-shadow: 20px;
   opacity: 85%;;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}
.selectdiv{
  width: 100%;
  display: flex;
  justify-content: center;
}

.select{
  width:80% ;
  height: 3em;
  font-size: 15px;
  background-color:#535351;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}
.snackbar-margin-padding{
  margin-top: 90px;
  padding:10px;
}
.pricing .btn-warning {
  background: #ef6603;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-warning:hover {
  background: #8e3d81;
}
